.app__left {
    color: #fff;
    margin-top: 100px;
    margin-left: 100px;
   
}

.app__left h1 {
    font-size: 50px;
    width: 70%;
}

.app__left h2 {
    font-size: 26px;
    width: 65%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
}

.app__left a {
    text-decoration: none;
    color: #fff;
    font-size: 26px;
}

.app__left i {
    font-weight: 100;
}


.app__right img {
    height: 350px;
    margin-top: 80px;
}