header {
    background-image: url(/Images/main.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.home__opacity {
    background-color: #000;
    height: 100vh;
    width: 100%;
    opacity: 0.5;
}

.home__logo {
    height: 35px;
    position: absolute;
    filter: invert(21%) sepia(100%) saturate(5608%) hue-rotate(352deg) brightness(86%) contrast(106%);
    top: 30px;
    left: 50px;
}

.home__signinBtn {
    padding: 8px 16px;
    background-color:#E50914 ;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    right: 50px;
    
}

.home__content {
    position: absolute;    
    color: #fff;   
    top: 34%;
    left: 29.5%;   
    
}

.home__content h1 {
    font-size: 50px;
    width: 60%;
    text-align: center;
    margin-bottom: 20px;    
    
}

.home__content h2 {
    margin-left: 70px;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 20px;    
}

.home__content h3 {    
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 20px;   
}

.home__content--address input {
    height: 55px;
    width: 45%;
    border: 1px solid #8C8C8C;
    padding: 10px 10px 0;
    font-size: 16px;    
}

.home__content--address span {
    font-size: 28px;
    background-color:#E50914 ;
    padding: 12px 30px;
    cursor: pointer;
    word-spacing: 5px; 
}





