.questions {
    color: #fff;
    font-size: 36px;
    margin-left: 200px;
}

.questions h1 {
    margin-bottom: 50px;
    margin-top: 50px;
}

.questions button {
    background: #303030;
    color: #fff;
    width: 75%;
    height: 75px;
    font-size: 26px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;   
   
}

.questions span {
    margin-left: 450px;
    font-size: 50px;
    
}

.quiz {
    height: 130vh;
}

.questions__answers {
    background: #303030;
    width: 75%;
    font-size: 26px;
    display: none;   
}

.questions__answers p {
    margin: 0 15px;
}

.questions__address h3 {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px; 
}

.questions__address input {
    height: 55px;
    width: 45%;
    border: 1px solid #8C8C8C;
    padding: 10px 10px 0;
    font-size: 16px; 
}

.questions__address span {
    font-size: 28px;
    background-color:#E50914 ;
    padding: 12px 30px;
    cursor: pointer;
    word-spacing: 5px;
    position: absolute;
    right: 41%;
}

