.questions {
    color: #fff;
    font-size: 36px;
    margin-left: 200px;
}

.questions h1 {
    margin-bottom: 50px;
    margin-top: 50px;
}

.questions button {
    background: #303030;
    color: #fff;
    width: 75%;
    height: 75px;
    font-size: 26px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;   
   
}

.questions span {
    margin-left: 450px;
    font-size: 50px;
    
}

.quiz {
    height: 120vh;
}

.questions__answers {
    background: #303030;
    width: 75%;
    font-size: 26px;
    display: none;   
}

.questions__answers p {
    margin: 0 15px;
}