.watch {
    color: #fff;
    
}

.watch h1 {
   font-size: 50px;
   margin-left: 100px;
   margin-top: 50px;
}

.watch h2 {
    font-size: 26px;
    font-weight: 400;
    margin-top: 20px;
    width: 55%;
    margin-left: 100px;
 }

 .watch__right-computer {
     height: 400px;
     position: absolute;
     right: 90px;
     z-index: 1;
     
 }

 .watch__right-video {
    height: 220px;
    width: 300px;
    position: relative;
    right: 150px;
    top: 30px;
 }